@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 1px #003399;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.no-scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}

.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: conic-gradient(#fff 10%, #d61f3b);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 0.5s infinite linear;
  -webkit-animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: marquee 10s linear infinite;
}

.articleHeroSlide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  overflow-y: visible;
}

.articleHeroSlide__slide {
  width: 100%;
  position: relative;
  overflow: visible;
}
